@media screen and (min-width: 380px) and (max-width: 767px) {}
.welcome
{
  background-image: url("../images/h_img.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.about
{
  text-align: center;
  font-size: 15px;
}
h5
{
  text-align: center;
}
.services-text
{
  font-size: 15px;
  text-align: center;
}
.services
{
  background-image: url("../images/s_image.jpg");
  background-size: cover;
  color: white;
}
.design-text
{
  display: none;
  cursor: pointer;
}
.development-text
{
  display: none;
  cursor: pointer;
}
.product-text
{
  display: none;
  cursor: pointer;
}
.development-icon
{
  cursor: pointer;
}
.design-icon
{
  cursor: pointer;
}
.product-icon
{
  cursor: pointer;
}
.row
{
  padding-right: 10%;
  padding-left: 10%;
}
.col-md-3
{
  padding: 2%;
}

