.welcome
{
  background-image: url("h_img.jpg") no-repeat;
  text-align: center;
  color: white;
}
.about
{
  text-align: center;
  font-size: 15px;
}
h5
{
  text-align: center;
}
.services-text
{
  font-size: 15px;
  text-align: center;
}
.services
{
  background-image: url("s_image.jpg") no-repeat;
  color: white;
}
.design-text
{
  display: none;
  cursor: pointer;
}
.development-text
{
  display: none;
  cursor: pointer;
}
.product-text
{
  display: none;
  cursor: pointer;
}
.development-icon
{
  cursor: pointer;
}
.design-icon
{
  cursor: pointer;
}
.product-icon
{
  cursor: pointer;
}
